:root {
    --primary-dark: #282828;
    --text-black: #293148;
    --text-dark-grey: rgba(41, 49, 72, 0.80);
    --text-grey: rgba(41, 49, 72, 0.60);
    --white: #ffffff;
    --white-45: rgba(255, 255, 255, 0.45);
    --white-20: rgba(255, 255, 255, 0.20);
    --primary-red: #D90E32;
    --secondary-light-red: #E86E84;
    --primary-light-grey: #F3F6F8;
    --line-grey: #E4E4E4;
    --t2: 0.2s ease;
}
